<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mms.mapper.DoctorMapper">

    <select id="queryDoctorByDoto" resultType="doctor" parameterType="string">
        select * from doctor where  doto=#{doto}
    </select>
    <insert id="savaDoctor" parameterType="doctor">
        insert into doctor  values (default ,#{doto} ,#{dotname} ,#{dotsex} ,#{dotphone} ,#{dotpro}  );
    </insert>
    <select id="queryAllDoctor" resultType="doctor">
        select * from  doctor
    </select>
    <delete id="deleteDoctorByDoto" parameterType="string">
        delete from  doctor where doto=#{doto}
    </delete>
    <update id="modifyDoctor" parameterType="doctor">
        update doctor set
        doto=#{doto} ,
        dotname=#{dotname} ,
        dotsex=#{dotsex} ,
        dotpro=#{dotpro}
        where dotid=#{dotid}
    </update>
</mapper>