<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mms.mapper.MedTypeMapper">

    <select id="queryMedicineTypeByMno" resultType="medtype" parameterType="string">
          select  * from  mdtype where  mdo=#{mdo}
    </select>
    <insert id="saveMedType" parameterType="medtype">
            insert into mdtype values (default ,#{mdo} ,#{mdname}  );
    </insert>
    <select id="queryAllMedType" resultType="medtype">
            select  * from  mdtype
    </select>
    <delete id="deleteMedTypeByMno" parameterType="string">
            delete  from  mdtype where mdo=#{mdo}
    </delete>
    <update id="modifyMedType" parameterType="medtype">
            update mdtype set  mdo=#{mdo} ,mdname=#{mdname}
            where mdtypeid=#{mdtypeid}
    </update>
</mapper>